@import '../../settings/settings.scss';

$top: 20%;
$bottom: 80%;

.HistorySection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .HistorySection_Top_Wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .HistorySection_Top_Wrap_Wrap {
      height: 100px;
      width: fit-content;
      margin-bottom: $margin_1920;
    }

    .HistorySection_Top {
      display: flex;
      align-items: end;
      gap: 50px;
      width: 100%;
      height: 100%;

      .HistorySection_Top_El {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 250px;
        height: 100px;

        .HistorySection_Top_El_Input {
          width: 100%;
          height: 50%;
          border-radius: $border_radius;
          font-size: 18px;
          padding: 0px 20px;
        }
      }

      .HistorySection_Top_Button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 50px;
        background-color: $black;
        color: $white;
        border-radius: $border_radius;
        padding: 2px;
        cursor: pointer;
      }
    }
  }

  .HistorySection_Bottom {
    // background-color: $g_7;
    display: flex;
    justify-content: center;

    overflow-y: auto;
    width: 100vw;
    height: $bottom;

    .HistorySection_Bottom_Wrap {
      margin-top: $margin_1920;
      margin-bottom: $margin_1920;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: fit-content;
      width: 100%;
      gap: 20px;
    }

    .HistorySection_Bottom_Nothing {
      margin-top: $margin_1920;
      display: flex;
      justify-content: center;
      width: 100vw;
      font-size: 50px;
      font-weight: 600;
    }
  }
}

.HistoryBlock {
  justify-content: space-between;
  display: flex;
  width: 90%;
  clip-path: inset(0% 0% round 0px);

  .HistoryBlock_Left {
    overflow-x: auto;
    display: flex;
    @include horizontal_scroll;

    .HistoryBlock_Left_Wrap {
      display: flex;
      gap: 15px;
      margin-right: $margin_1920;
      padding-bottom: 10px;
    }
  }

  .HistoryBlock_Right {
    display: flex;
    justify-content: flex-end;
    min-width: 20vw;
    .HistoryBlock_Right_Wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 98;
      border: $line_width_thin $g_6 solid;
      font-size: 40px;
      font-weight: 800;

      border-radius: $border_radius;
    }
  }
}

.BrickSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $card_width;
  height: $card_height;
  background-color: $white;
  border: $line_width_thin $g_6 solid;
  border-radius: $border_radius;

  .BrickSection_Image {
    width: $card_height_img;
    height: $card_height_img;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .BrickSection_Main {
    // background-color: pink;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    word-break: break-all;
    margin-right: 15px;

    .BrickSection_Main_Name {
      margin-top: 15px;
      font-size: 20px;
      font-weight: 600;
    }

    .BrickSection_Main_Result {
      margin-bottom: 15px;
      text-align: right;

      font-size: 18px;
      font-weight: 500;
      span {
        font-size: 25px;
        font-weight: 600;
      }
    }
  }
}
